<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Description" content="{{ title }}" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styles/blogpost.css" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@sonniesedge">
    <meta name="twitter:title" content="Trans people & the GICs">
    <meta name="twitter:description" content="Read trans people's experiences of the NHS Gender Identity Clinic system, and submit your own.">
    <meta name="twitter:image" content="https://transgic.org.uk/images/social.png">
  </head>
  <body>
    <div class="container post-container">
      {% include 'nav.liquid' %}

      <h1>{{ title }}</h1>
      <div class="content">{{ content }}</div>
      <div class="back-link">
        <a href="/">← Back</a>
      </div>
    </div>
  </body>
</html>
