<nav>
<ul class="nav">
<li class="nav-item"><a href="/" class="nav-item-link">Home</a></li>
<li class="nav-item"><a href="/contact" class="nav-item-link">Submit your experience</a></li>
</ul>
</nav>  