<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Description" content="Arpit Batra" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styles/homepage.css" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@sonniesedge">
    <meta name="twitter:title" content="Trans people & the GICs">
    <meta name="twitter:description" content="Read trans people's experiences of the NHS Gender Identity Clinic system, and submit your own.">
    <meta name="twitter:image" content="https://transgic.org.uk/assets/images/social.png">
  </head>
  <body>
    <div class="container">
      {% include 'nav.liquid' %}

      {{ content }}

      <form name="contact" method="POST" netlify-honeypot="hpot" data-netlify="true">
        <div class="visually-hidden">
          <label>Hey hey. If you're a person the please don't fill this field out. It's there to identify those naughty naughty robots:</label> <input name="hpot" />
        </div>
        <div>
          <label for="age">Your age:</label>
          <input type="text" name="age" class="textfield" />
        </div>
        <div>
          <label for="gender">Your gender:</label>
          <input type="text" name="gender" class="textfield"  />
        </div>
        <div>
          <label for="message">Your experience:</label>
          <textarea name="message" class="textarea"></textarea>
        </div>
        <div>
          <button type="submit" class="button">Submit</button>
        </div>
      </form>
    </div>
  </body>
</html>
